
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>URL</td>
        <td>@ViewData["URL"]</td>
    </tr>
    <tr>
        <td>Response</td>
        <td>@ViewData["Response"]</td>
    </tr>
</table>